extends layout

block content
  div(id='container', class='w-1/2 m-auto mt-10 mb-5 font-serif')
    h1(class='text-3xl font-bold tracking-tight text-black mb-2')= title
    p Features are computed from a digitized image of a fine needle aspirate (FNA) of a breast mass.  They describe characteristics of the cell nuclei present in the image. A few of the images can be found at #[a(href='http://www.cs.wisc.edu/~street/images/') http://www.cs.wisc.edu/~street/images/].
    div(id="form-container", class="grid grid-cols-2 gap-4 my-5")
      each feature in features
        div(id='input')
          p #{feature}
          input(type="number", step=0.01, min=0, class="focus:border-none border-0 outline-0 border-b-[1px] border-black")
    button(id="post_feature_values", class="border-[1px] border-black w-1/3", type="button", value="Submit", onclick="postFeatureValues()") Submit
    p(id="prediction")